@font-face {
    font-family: Champions-sans;
    src: url(../fonts/Champions-Bold.ttf);
}

* {
    padding: 0px;
    margin: 0px;
    font-family: "Champions-sans", sans-serif;
}

body {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #F1F3F8;
}


/* CONTEUDO GERAL */

.container_geral{
    margin-top: 50px;
    gap: 50px;
    display: flex;
    width: 76%;
    justify-content: center;
}


.vencedor_walpaper {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inativo a {
    text-decoration: none;
    color: white;
}

.ativado a {
    color: black;
    text-decoration: none;
}

.vencedor_detalhe h1 { 
    color: #BFBFBF  ;
    font-size: 14px;
    font-weight: 400;
}

.vencedor_detalhe p { 
    font-size: 40px;
    font-weight: 400;
}


.vencedor_walpaper_img{
    width: 65%;
    transition: opacity 1s ease;
    
}


#selecao_vencedora {
    width: 50px;
    position: absolute;
    left: 12%;
    top: 10%;
    padding-bottom: 10px;

}

.conteudo_div {
    display: flex;
    flex-direction: column;
   width: 100%;
}


.vencedor_detalhe {
    display: flex;
    gap: 20px;
}

.vencedor_detalhe img {
    width: 50px;
    padding-bottom: 10px;
    border-bottom: 2px solid #696969;
}

.vencedor_descrição {
    width: 400px;
    margin-top: 20px;
    font-size: 26px;
}


.dados_espaco1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 2px solid #DBDDE9;
    margin-bottom: 20px;
    align-items: center;
}

.dados_espaco1 img {
    width: 120px;
}

.dados_espaco2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dados1 {
    width: 550px;
    padding: 25px;
    background-color: #F8F9FC;
    border-radius: 5px;
    border: 1px solid #DBDDE9;
    box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.25);
}

.conteudo_Principal {
    gap: 50px;
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.conteudo_Principal span {
    font-size: 20px;
}

.conteudo_Principal h1 {
    color: #464646;
    font-size: 45px;
}

.conteudo_Principal h2 {
    color: #464646;
}

.conteudo_Principal p {
    color: #464646;
    font-family: "inter";
}


.vencedor_botao {
    padding-top: 60px;
    gap: 20px;
    display: flex;
    width: 250px;
}

.ativado {
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    font-size: 18px;
}

.inativo {
    color: white;
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    height: 30px;
    width: 80px; 
    font-size: 18px;
}

/* Estastisticas */

.estatisticas {
    margin-top: 40px;
    width: 100%;
}

.caixa1 {
    width: 50% !important; 
    height: 78% !important; 
    border-radius: 10px;
    border: 2px solid #DBDDE9;
    box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.25);
    padding: 0px 20px;
    background-color: #F8F9FC;
}

.caixa2 {
    width: 48% !important; 
    height: 78% !important;
    border-radius: 10px;
    border: 2px solid #DBDDE9;
    box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.25);
    padding: 0px 20px;
    background-color: #F8F9FC;
}

.container_graficos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px
}

.comparativo_Grafico  {
    width: 100%;
    border-radius: 6px;
    border-radius: 10px;
    border: 1px solid #DBDDE9;
    box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.25);
    background-color: #F8F9FC;
}

.graficos_juntos {
    display: flex;
}

.graficos_juntos {
    width: 100%;
}

.classificacao_grafico {
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;

}