@font-face {
    font-family: Champions-sans;
    src: url(../fonts/Champions-Bold.ttf);
}

* {
    padding: 0px;
    margin: 0px;
    font-family: "Champions-sans", sans-serif;
}

body {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #F1F3F8;
}


/* HEADER */

.Header_container{
    height: 160px;
    background-color: #000000;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-icons {
    border: 2px solid #CCCDD1;
    border-radius: 20px;
}



.header_div {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_1 {
    padding-bottom: 20px;
}



.globall_logo {
    width: 200px;
}

.person_header {
    width: 30px;
}



.arrow {
    cursor: pointer;
    color: white;
    user-select: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copas_container {
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    width: 100%;
}

.copas_container::-webkit-scrollbar {
    display: none; 
  }


.copas {
    display: flex;
    gap: 0px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.copas li {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    min-width: 120px;
    padding: 10px;
    border-left: 1px solid #333;
    gap: 5px;
}

.copas li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.copas li img {
    width: 50px;
    height: 30px;
    margin-bottom: 5px;
}

#logo_26 {
    width: 40px;
    height: 60px;
}

