@font-face {
    font-family: Champions-sans;
    src: url(../fonts/Champions-Bold.ttf);
}

* {
    padding: 0;
    margin: 0;
}
.container_geral {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.header_1 {
    background-color: black;
    display: flex;
    color: white;
    font-family: 'inter';
    justify-content: center;
    align-items: center;
    height: 60px;
}

.header_1 h1 {
    font-weight: 600;
}

.botoes_container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
}

.botoes {
    width: 20%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
}

.botoes button {
    z-index: 1;
}

.botao {
    background-color: white;
    border: 1px solid black;
    border-radius:25px;
    height: 30px;
    width:120px;
    font-weight: bold;
    font-size: 18px;
}

.bola {
    position: absolute;
    top: -25px;
        left: -31px;
}

.bola img {
   width: 180px;
   
}

.jogador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left:10px;
}

.jogador img {
    width: 250px;
    background-color: rgb(255, 255, 255);
}

.divisoria_1 {
    background-color: rgb(255, 255, 255);
    width: 20%;
    height: 100vh;
    border-right: 2px solid rgb(0, 0, 0);
}

.footer_1 {
      width: 100%;
      height: 11.65%;
       position: relative;
       background-color: rgb(255, 255, 255);
}

.footer_1 img {
    width: 100%;
    height: 100%;
    position: absolute;
}



/*  */


.divisoria_2 {
    background-color: rgb(255, 255, 255);
    width: 80%;
}

.header_2 {
    background-color: black;
    display: flex;
    color: white;
    font-family: 'inter';
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    font-family: 'Champions-sans';
    
}

.header_2 p {
    font-size: 20px;
}

.header_2 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header_2 img{
    width: 50px;
}

.header_2 h1 {
    font-weight: normal;
    font-size: 22px;
}
