

.GraficosArea {
    background-color: rgb(255, 255, 255);
    height: 90.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.GraficosAreaContainer {
    background-color: rgb(255, 255, 255);
    height: 95%;
    width: 95%;
    flex-direction: column;
    display: flex;
    gap: 5px;
}

.KPI {
    display: flex;
     align-items: center;
     gap: 10px;
}

.KPIs {
    background-color: #ffffff;
   border: 1px solid rgb(197, 197, 197);
    border-radius: 10px;
    width: 40%;
    height: 50px;
    padding: 5px 5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    display: flex;
}

.KPIs p {
    font-size: 22px;
}

.KPIs div p {
    font-size: 25px;
}

.KPIs div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.KPI_estatistica {
    background-color: transparent   ;
    border-radius: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.KPI_estatistica div {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    justify-content: start;
    border: 1px solid #C5C5C5;
    align-items: center;
    height: 5px;
    border-radius: 7px;
}

.KPI_estatistica p {
    font-weight: 100;
    font-size: 14px;
}

.graficos {
    padding-top: 5px;
    display: flex;
    width: 90%;
    gap: 65px;
}

.GraficoRosca {
    padding: 10px;
    background-color: #ffffff;
  border: 1px solid rgb(197, 197, 197);
    border-radius: 10px;
    width: 500px;
}


.GraficoColuna {
     background-color: #ffffff;
        padding: 10px;
     border: 1px solid rgb(197, 197, 197);
    height: 400px;
       border-radius: 10px;
}

#GraficoColuna {
    width: 100%;
    height: 100%;
}

.KPI_estatistica div {
    gap: 5px;
    display: flex;
}

.KPIs img {
    width: 50px;
    height: 60px;
}

.utilizado {
    border-radius: 50%;
    height: 20px;
}

#PerfilFoto {
        height: 40px;
        width: 45px;
        border-radius: 50%;
        border: 1px solid gray
}