@font-face {
    font-family: Champions-sans;
    src: url(../assets/fonts/Champions-Bold.ttf);
}

* {
    padding: 0px;
    margin: 0px;
    font-family: "Champions-sans", sans-serif;
}

body {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #F1F3F8;
}



/* CONTEUDO GERAL */

.container_geral{
    margin-top: 50px;
    gap: 50px;
    display: flex;
    width: 75%;
}

.conteudo_Principal {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-direction: column;
}

.vencedor_walpaper {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.vencedor_detalhe h1 { 
    color: #BFBFBF  ;
    font-size: 14px;
    font-weight: 400;
}

.vencedor_detalhe p { 
    font-size: 40px;
    font-weight: 400;
}

.vencedor_walpaper_img{
    width: 70%;
   
}


.inativo a {
    text-decoration: none;
    color: white;
}

.ativado a {
    color: black;
    text-decoration: none;
}


#selecao_vencedora {
    width: 50px;
    position: absolute;
    left: 12%;
    top: 10%;
    padding-bottom: 10px;

}

.conteudo_div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.vencedor_detalhe {
    display: flex;
    gap: 20px;
}

.vencedor_detalhe img {
    width: 50px;
    padding-bottom: 10px;
    border-bottom: 2px solid #696969;
}

.vencedor_descrição {
    width: 400px;
    margin-top: 20px;
    font-size: 26px;
}

.imagem_principal {
    width: 100%;
    border-radius: 10px;
}



.imagem_principal_container {
    position: relative;
}

.placar_final {
    width: 100%;
}


.person_header {
    width: 50px;
    border-radius: 50%;
    border: 1px solid rgb(164, 164, 164);
}

.conteudo_imagem {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    color: white;
    padding: 25px;
    gap: 5px;
}

.conteudo_imagem h1 {
    font-size: 24px;
}

.conteudo_imagem p {
    font-size: 16px;
}

.conteudo_imagem a {
    width: 80px;
    height: 25px;
    color: #ffffff;
    background-color: #0D0E0F;
    border: 1px solid  #C066C1;
    border-radius: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-decoration: none;
}

.Conteudo_secundario {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-radius: 15px;
    height: 500px;
    
}
.Conteudo_secundario img {
    height: 580px;

    
}



.Conteudo_secundario h1 {
    padding: 10px;
    font-weight: 600;
    font-size: 26px;
    color: #1A313C;
    border-bottom: 3px solid #DBDDE9;
}


.Conteudo_secundario h2 {
    padding: 10px;
    font-weight: normal;
    font-size: 26px;
    color: #1A313C;
}

.vencedor_botao {
    padding-top: 60px;
    gap: 20px;
    display: flex;
    width: 250px;
}

.ativado {
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    font-size: 18px;
}

.inativo {
    color: white;
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    height: 30px;
    width: 80px; 
    font-size: 18px;
}

.estatisticas_ga div-section, .titulos_area div-section {
    border-bottom: 3px solid #DBDDE9;
    padding: 10px 25px;
}


.titulos_area p, .estatisticas_ga p {
    font-weight: 600;
    color: #1A313C;

}

.estatisticas h2 {
    padding: 30px 0px 5px 20px;
    font-weight:500;
}

.estatisticas_ga {
    display: flex;
    flex-direction: column;
}

.estatisticas_ga img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.estatisticas_ga div {
    gap: 10px;
    display: flex;
    align-items: center;
    margin: 5px 15px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}


.estatisticas_ga div-sectio {
    padding: 0px 25px;
}

.Conteudo_secundario a {
    color: #123FFF;
    text-decoration: none;
}



