@font-face {
    font-family: Champions-sans;
    src: url(../assets/fonts/Champions-Bold.ttf);
}

* {
    padding: 0;
    margin: 0;

}

body {
     background-color: rgb(221, 221, 221);
     font-family: Champions-sans;
}

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 579px;
    opacity: 1;
transition: opacity 1s ease-in-out;
  }


.hidden {
  opacity: 0;

transition: opacity 1s ease-in-out;
  height: 100%;
}


.placares {
  position: absolute;
  right: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
}

.placar_player, .placar_bot {
  background-color:#ffffff;
  width: 180px;
  height: 95px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.blocos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
  border-top: 2px solid #A0A0A0;
  padding: 10px;
  
}

.bloco {
  border-radius: 50%;
  width: 32px;
  height: 16px;
  background-color: #464646;
}

.jogador {
  padding: 5px 10px;
  gap: 5px;
  display: flex;
  align-items: center;
}

.jogador img {
  width: 40px;
  height: 40px;
  border: 1px solid black;
    border-radius: 50%;
}

.placares p {
  font-size: 25px;
}
